.table {
  border-collapse: collapse;
  border: 1px solid #000;
}

.td {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  text-align: center;
  vertical-align: center;
  font-family: monospace;
  font-size: 18px;
  position: relative;
}

.pixel-index {
  font-size: 7px;
  display: inline-block;
  position: absolute;
  top: 1px;
  right: 1px;
  color: #999;
}
